<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>

    {% for index,post in posts %}
        <form class="post" action="/delete/{{post['id']}} "  >

        <h2> {{index+1}} -> {{post['title']}} </h2>
        <p><em>{{post['author']}}</em></p>
        <p>{{post['content']}}</p>

        <input type="Submit" value='Delete' >


        </form>

        <form action="/like/{{post['id']}}">
            <input type="Submit" value="LIKES->"> <strong><mark>{{post['likes']}}</mark> </strong>
        </form>


        <form action="update/{{post['id']}}">
            <input type="Submit" value="Update" >
        </form>


    {% endfor %}

        <form method="GET" action="/add">
            <input type="Submit" value="Add Blog">
        </form>
</body>
</html>
